body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}
body {
    font-size: 16px;
  }
  @media only screen and (max-width: 600px) {
  }
    body {
      font-size: 14px;
    }
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
@media only screen and (max-width: 600px) {
    nav {
      display: block;
    }
    nav a {
      display: block;
      margin-bottom: 10px;
    }
  }
  
header {
    text-align: center;
    background-color: #111111;
    color: limegreen;
    padding: 20px;
    border-radius: 10px;
}

.menu {
    margin-top: 40px;
}

.menu-item {
    background-color: #111111;
    border: 1px solid limegreen;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.menu-item h2 {
    color: limegreen;
    padding: 20px;
    margin: 0;
}
.content {
    display: none;
    padding: 20px;
}

.content p {
    color: white;
    line-height: 1.6;
}
/* Tambahkan gaya tombol kembali */
.home-button {
    display: block;
    margin-top: 1px;
    padding: 10px 15px;
    background-color: #111111;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}