body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
body {
    font-size: 16px;
  }
  @media only screen and (max-width: 600px) {
  }
    body {
      font-size: 14px;
    }
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
@media only screen and (max-width: 600px) {
    nav {
      display: block;
    }
    nav a {
      display: block;
      margin-bottom: 10px;
    }
  }
  
header {
    text-align: center;
    background-color: #000000;
    color: limegreen;
    padding: 20px;
    border-radius: 10px;
}

.steps {
    margin-top: 40px;
}
.step {
    background-color: #111111;
    border: 1px solid limegreen;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.step img {
    max-width: 100%;
    height: auto;
}

.step-info {
    color: limegreen;
    padding: 20px;
}

.step h2 h3{
    color: limegreen;
    margin-bottom: 10px;
}
.step p {
    color: limegreen;
    line-height: 1.5;
}

.command {
    color: #0004f3; /* Warna biru untuk perintah */
}

.notes {
    margin-top: 40px;
}

.notes h2 {
    color: limegreen;
    margin-bottom: 10px;
}

.notes p {
    color: limegreen;
    line-height: 1.6;
}
/* Tambahkan gaya tombol kembali */
.home-button {
    display: block;
    margin-top: 30px;
    padding: 10px 15px;
    background-color: #111111;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}